# NumPy (Numerical Python)

### Biblioteca para operação com matrizes e vetores
Alternativa para as listas

In [1]:
# importação da biblioteca
import numpy as np

In [8]:
dados = [1, 3, 2, 4, 6, 1, 5, 2, 4, 5, 3, 6]
type(dados)

list

In [5]:
dados/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

### O exemplo acima resulta em um erro pois a lista não suporta operações matemáticas

In [6]:
dados_np = np.array(dados)

In [14]:
type(dados_np)

numpy.ndarray

In [18]:
dados_np

array([1, 3, 2, 4, 6, 1, 5, 2, 4, 5, 3, 6])

In [16]:
# divisao
dados_np/2

array([0.5, 1.5, 1. , 2. , 3. , 0.5, 2.5, 1. , 2. , 2.5, 1.5, 3. ])

In [17]:
# adicao
dados_np + 2

array([3, 5, 4, 6, 8, 3, 7, 4, 6, 7, 5, 8])

In [20]:
# multplicacao
dados_np*2

array([ 2,  6,  4,  8, 12,  2, 10,  4,  8, 10,  6, 12])

In [23]:
# subtracao
dados_np - 2

array([-1,  1,  0,  2,  4, -1,  3,  0,  2,  3,  1,  4])

In [24]:
# exponenciancao
dados_np**2

array([ 1,  9,  4, 16, 36,  1, 25,  4, 16, 25,  9, 36])

## Aceita apenas um tipo de dados

In [25]:
aluno = np.array(["dalton",20, 1.86])

In [26]:
aluno

array(['dalton', '20', '1.86'], dtype='<U6')

## Comparação com listas

In [ ]:
idades = [20, 19, 16]

In [29]:
idades + idades

[20, 19, 16, 20, 19, 16]

In [30]:
np_idades = np.array(idades)

In [31]:
np_idades + np_idades

array([40, 38, 32])

### A `soma` na lista ocorre a concatenação, isto é, a junção entre as duas listas
### No `numpy array` ocorre a soma entre os elementos correspondentes